<table class="table table-hover table-inverse">
<thead>
<tr>
  <th>image</th>
  <th>name</th>
  <th colspan="4"></th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= attachment_image_tag user, :profile_image, size: "40x40",fallback: "no_image.jpg" %></td>
  <td><%= user.name %></td>
  <td><%= "フォロー数:#{user.follower.count}" %></td>
  <td><%= "フォロワー数:#{user.followed.count}" %></td>
  <td>
    <% unless current_user == user %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
  </td>
  <% end %>
    <td><%= link_to "Show", "/users/#{user.id}" %></td>
  </tr>
  <% end %>
</tbody>
</table>